.container{
    width: 100%;
    /* display: table; */
    padding-top: 15px;
    padding-bottom: 15px;
    
}


.content{
    background-color: #0bd5fd;
    font-size: x-large;
    display: flex;
    vertical-align: middle;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
}

.text{
    margin-left: 40px;
}

.link{
    width: 100%;
}

